

/* Define Variables */


/* TEXT */
$frontend-fonts: "Trebechet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Tahoma", "sans-serif"; 

$text-color-primary: #4D4D4D;

$text-color-accent: #ff851f;

$disabled-text-color: #9d9d9d;


/* BUTTONS */
$button-fonts: "Verdana", "Arial", "Helvetica", "sans-serif";

$button-border-color: #e56800;

$button-accent: #ff851f;

$button-accent-hover: #eb6b00;


/* HEADLINES */
$headline-fonts: "Lucida Grande", "Lucida Sans", "Verdana", "Geneva", "sans-serif";

$headline-color: #344e67;


/* Layout */

body div {
	font: 100% $frontend-fonts;
	color: $text-color-primary;
	padding: 0;
	margin: 0;
	font-size: 16px;
}

body div h2 {
	line-height: 1.4;
	color: $headline-color;
	font: $headline-fonts;
	margin: 1.1rem;
}

.text {
	margin: 1.1rem;
	line-height: 1.75em;	
}


/* CUSTOM CLASSES */
body div .mybutton {
	background-color: $button-accent;
	border-color: $button-border-color;
	color: #fff;
	font-size: .9rem;
	border-radius: 3px;
	padding: .75rem 1.5rem;
	-webkit-transition: background-color .25s; 			/* Safari */
	transition: background-color .25s;
	font-family: $button-fonts;
	font-weight: 700;
	text-align: center;
	font-size:16px;    			
}

.mybutton:hover {
	background-color: $button-accent-hover;
}

.mybutton:focus {
	outline: none;
}

div.row div div button {
	padding: 7px 10px 7px 12px;
}

.btn .caret {
	margin-left: 50px;
}

div.row div .myinput {
	border: 1px solid $text-color-accent;
	font-size: 16px;
	color: $text-color-primary;
	box-shadow: 0 0 10px #7bc1ea;
	line-height: 1em;
	border-radius: 3px;
}

div.row div .myinput:focus {
	box-shadow: 0 0 5px #999;
	background: #fafafa;
	border-color: #999;
	color: $text-color-primary;
	border-radius: 3px;
}

.modalSubmit {
	padding: .75rem 4rem;	
}

.test-image {
	height: 240px;
	width: 240px;
}

#single-button {
	line-height: unset;
	color: $disabled-text-color;
	border: 1px solid $text-color-accent;
	font-size: 16px;
	padding: 7px 10px 7px 12px;
}
/* END CUSTOM CLASSES */



/* UTILITY */
.center-display-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.primary-theme {
	color: $headline-color;
}

.accent {
	color: $text-color-accent;
}

.close{
	left:5px;
	bottom: 5px;
	position: relative;
}
.close:focus {
	outline: none;
}

.error{
	color: red;
	font-size: 10px;
}

.btn .stateSelected {
	margin-left: 74px; 
}
